[user]
	email = hersh4@llnl.gov 
	name = Andrew Hersh
[core]
    excludesfile = /Users/hersh4/.gitignore_global
[status]
	showUntrackedFiles = no
[format]
    pretty = format:"%C(#dda790)%h %C(#bcdbff)%d%>(12)%ad %C(#8bb664)%d%<(7)%aN%C(#3c98d9)%d %Creset%s"
[log]
    date=relative
[push]
    default = simple
[diff]
    tool = vimdiff
