[user]
	email = drew@moj.io 
	name = drr3w
[core]
    excludesfile = /Users/etch/.gitignore_global
[status]
    showuntrackedfiles = no
[format]
    pretty = format:"%C(#dda790)%h %C(#bcdbff)%d%>(12)%ad %C(#8bb664)%d%<(7)%aN%C(#3c98d9)%d %Creset%s"
[log]
    date=relative
[push]
	default = simple
