[user]
	email = drew@moj.io 
	name = drr3w
[core]
    excludesfile = /Users/etch/.gitignore_global
[status]
    showuntrackedfiles = no
[format]
    pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[log]
    date=relative
[diff]
	tool = vimdiff
